<div class='container-fluid'>
  <h3 class='page-title'>Providers</h3>

  <% if @client %>
  <div class='row'>
    <div class='col-md-3 col-12'>
      <div class="mb-3">
        <label for="name-input" class="form-label">Name</label>
        <input id="name-input" type="text" class="form-control" onkeyup="updateProviderName(event)">
      </div>

      <div class="mb-3">
        <label for="plan-select" class="form-label">Insurance Plan</label>
        <select id="plan-select" class="form-select" data-networksByPlan="<%=@networks_by_plan.to_json %>" onchange="updateProviderNetworkList(event)">
          <option value=""></option>
          <% @plans.each do |param| %>
            <option value="<%= param[:value] %>"><%= param[:name] %></option>
          <% end %>
        </select>
      </div>

      <div class="mb-3">
        <label for="network-select" class="form-label">Network</label>
        <select id="network-select" class="form-select" onchange="updateProviderNetwork(event)">
          <option value=""></option>
        </select>
      </div>

      <div class="mb-3">
        <label for="specialty-select" class="form-label">Specialty</label>
        <select id="specialty-select" class="form-select" onchange="updateProviderSpecialty(event)">
          <option value=""></option>
          <% @specialties.each do |param| %>
            <option value="<%= param[:value] %>"><%= param[:name] %></option>
          <% end %>
        </select>
      </div>

      <div class="mb-3">
        <label for="zip-input" class="form-label">Zip Code</label>
        <input id="zip-input" type="text" class="form-control" placeholder="06040" onkeyup="updateProviderZip(event)">
      </div>

      <div class="mb-3">
        <label for="radius-input" class="form-label">Radius in Miles</label>
        <input id="radius-input" type="text" class="form-control" placeholder="10 (default)" onkeyup="updateProviderRadius(event)">
      </div>

      <div class="mb-3">
        <label for="city-input" class="form-label">City</label>
        <input id="city-input" type="text" class="form-control" placeholder="Cambridge" onkeyup="updateProviderCity(event)">
      </div>

      <div class="mb-3">
        <label for="active-input" class="form-label">Active On</label>
        <input id="active-input" type="date" class="form-control" onkeyup="updateProviderActiveDate(event)">
      </div>

      <div class="mb-3 form-check">
        <input id="is-active-input" type="checkbox" class="form-check-input" value="true" onclick="updateProviderActive(event)">
        <label for="is-active-input" class="form-check-label">Show only currently active plans</label>
      </div>

      <div class="mb-3">
        <label for="new_patient-select" class="form-label">Accepting New Patients</label>
        <select id="new_patient-select" class="form-select" onchange="updateProviderNewPatient(event)">
          <option value=""></option>
          <% @newpatientoptions.each do |param| %>
            <option value="<%= param[:value] %>"><%= param[:name] %></option>
          <% end %>
        </select>
      </div>

      <button id="provider-search-button" class="btn btn-outline-success w-100" onclick="submitProviderSearch(event)">
        Find
      </button>
    </div>
    <div class='col-md-9 col-12'>
      <div id="provider-query"></div>
      <div class='btn-group float-end' role='group'>
        <button id="previous-button" class="btn btn-outline-primary disabled">Previous</button>
        <button id="next-button" class="btn btn-outline-primary disabled">Next</button>
      </div>
      <table id="providers-table" class="table table-dark table-striped"></table>
    </div>
  </div>
  <% else %>
    <%= render 'partials/server_connect' %>
  <% end %>
</div>
