<div class='container-fluid'>
  <h3 class='page-title'>Pharmacies</h3>

  <% if @client %>
  <div class='row'>
    <div class='col-md-3 col-12'>
      <%= form_for :pharmacy, url: search_pharmacies_path, remote: true, method: "get" do |f| %>
        <div class="mb-3">
          <%= f.label :insurance_plan, class: "form-label" %>
          <%= f.select :insurance_plan, @plans, { include_blank: true }, { class: 'form-select' } %>
        </div>

        <div class="mb-3">
          <%= f.label :network, class: "form-label" %>
          <%= f.select :network, grouped_options_for_select(@networks), { include_blank: true }, { class: 'form-select' } %>
        </div>

        <div class="mb-3">
          <%= f.label :specialty, class: "form-label" %>
          <%= f.select :specialty, @specialties, { include_blank: true }, { class: 'form-select' } %>
        </div>

        <div class="mb-3">
          <%= f.label :zip, class: "form-label" %>
          <%= f.text_field :zip, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :radius, class: "form-label" %>
          <%= f.text_field :radius, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :city, class: "form-label" %>
          <%= f.text_field :city, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <%= f.submit 'Find', class: 'btn btn-outline-success w-100', id: 'pharmacy-search-button' %>
      <% end %>
    </div>
    <div class='col-md-9 col-12'>
      <div id="pharmacy-query"></div>
      <div class='btn-group float-end' role='group'>
        <button id="previous-button" class="btn btn-outline-primary disabled">Previous</button>
        <button id="next-button" class="btn btn-outline-primary disabled">Next</button>
      </div>
      <table id="pharmacies-table" class="table table-dark table-striped"></table>
    </div>
  </div>
  <% else %>
    <%= render 'partials/server_connect' %>
  <% end %>
</div>
