<div class='container-fluid'>
  <h3 class='page-title'>Healthcare Services Search</h3>
  <div class='row'>
    <div class='col-md-3 col-12'>
      <%= form_for :healthcare_service, url: search_healthcare_services_path, remote: true, method: "get" do |f| %>
        <div class="mb-3">
          <%= f.label :category, class: "form-label" %>
          <%= f.select :category, @categories, { include_blank: true }, { class: 'form-select' } %>
        </div>

        <div class="mb-3">
          <%= f.label :specialty, class: "form-label" %>
          <%= f.select :specialty, @specialties, { include_blank: true }, { class: 'form-select' } %>
        </div>

        <div class="mb-3">
          <%= f.label :type, class: "form-label" %>
          <%= f.select :type, @types, { include_blank: true }, { class: 'form-select' } %>
        </div>

        <div class="mb-3">
          <%= f.label :program, class: "form-label" %>
          <%= f.select :program, @programs, { include_blank: true }, { class: 'form-select' } %>
        </div>

        <div class="mb-3">
          <%= f.label :zip, class: "form-label" %>
          <%= f.text_field :zip, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :radius, class: "form-label" %>
          <%= f.text_field :radius, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :city, class: "form-label" %>
          <%= f.text_field :city, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :organization, class: "form-label" %>
          <%= f.text_field :organization, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :new_patient, class: "form-label" %>
          <%= f.select :new_patient, @newpatientoptions, { include_blank: true }, { class: 'form-select' } %>
        </div>

        <h4>Requirements:</h4>

        <div class="mb-3">
          <%= f.label :birth_sex, class: "form-label" %>
          <%= f.select :birth_sex, @birthsexoptions, { include_blank: true }, { class: 'form-select' } %>
        </div>

        <div class="mb-3">
          <%= f.label :veteran_status, class: "form-label" %>
          <%= f.select :veteran_status, @veteranstatusoptions, { include_blank: true }, { class: 'form-select' } %>
        </div>

        <div class="mb-3">
          <%= f.label :insurance_status, class: "form-label" %>
          <%= f.select :insurance_status, @insurancestatusoptions, { include_blank: true }, { class: 'form-select' } %>
        </div>

        <div class="mb-3">
          <%= f.label :employment_status, class: "form-label" %>
          <%= f.select :employment_status, @employmentstatusoptions, { include_blank: true }, { class: 'form-select' } %>
        </div>

        <%= f.submit 'Find', class: 'btn btn-outline-success w-100', id: 'healthcare-service-search-button' %>
      <% end %>
    </div>
    <div class='col-md-9 col-12'>
      <div id="healthcare-service-query"></div>
      <div class='btn-group float-end' role='group'>
        <button id="previous-button" class="btn btn-outline-primary disabled">Previous</button>
        <button id="next-button" class="btn btn-outline-primary disabled">Next</button>
      </div>
      <table id="healthcare-services-table" class="table table-dark table-striped"></table>
    </div>
  </div>
</div>
