<section class='container'>
  <h3 class='page-title'>Organization Affiliations</h3>

  <% if @client %>
  <section class='row'>
    <div class='col-12'>
      <%= render 'partials/query' %>
      <%= render 'partials/pagination', resource: :organization_affiliations %>
    </div>
    <div class='col-12'>
      <div class="accordion mb-4" id="searchAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Search
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#searchAccordion">
            <div class="accordion-body">
              <%= render 'partials/search_form',
                         query_params: @query_params,
                         search_path: organization_affiliations_path
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 table-responsive'>
      <table class='table table-dark table-striped'>
        <thead>
          <tr>
            <th scope='col'>ID</th>
            <th scope='col'>Organization</th>
            <th scope='col'>Networks</th>
            <th scope='col'>Identifiers</th>  
            <th scope='col'>Participating Organization</th>
            <th scope='col'>Codes</th>
            <th scope='col'>Specialties</th>
            <th scope='col'>Locations</th>
            <th scope='col'>Healthcare Services</th>
            <th scope='col'>Phone/Fax</th>
            <th scope='col'>Endpoints</th>
          </tr>
        </thead>
        <tbody>
          <% @organization_affiliations.each do |fhir_organization_affiliation| %>
            <% organization_affiliation = OrganizationAffiliation.new(fhir_organization_affiliation) %>
            <tr>
              <td>
                <a href="organization_affiliations/<%= organization_affiliation.id %>" data-bs-toggle="tooltip" title="<%= organization_affiliation.id %>"><%= organization_affiliation.id.split('-').last %></a>
              </td>
              <td><%= display_reference(organization_affiliation.organization) %></td>
              <td><%= display_reference_list(organization_affiliation.networks, use_controller: "networks") %></td>
              <td>
                <% organization_affiliation.identifiers.each do |identifier| %>
                  <%= display_identifier(identifier) %><br />
                  <%= display_period(identifier.period) %><br />
                <% end %>
              </td>
              <td><%= display_reference(organization_affiliation.participating_organization) %></td>
              <td><%= display_coding_list(organization_affiliation.codes) %></td>
              <td><%= display_list(organization_affiliation.specialties) %></td>
              <td><%= display_reference_list(organization_affiliation.locations) %></td>
              <td><%= display_reference_list(organization_affiliation.healthcare_services) %></td>
              <td><%= display_list(organization_affiliation.telecoms) %></td>
              <td><%= display_list(organization_affiliation.endpoints) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class='col-12'>
      <%= render 'partials/pagination', resource: :organization_affiliations, header: false %>
    </div>
  </section>
  <% else %>
    <%= render 'partials/server_connect' %>
  <% end %>
</section>
