<section class='container'>
  <% if @client %>
  <section class='row'>
    <% unless @network.nil? %>
      <div class='col-12'>
        <h2>Network: <%= sanitize(@network.name) %></h2>
      </div>
      <!–– <div class='col-6' id='map' ––>
      <!–– </div ––>
      <div class='col-12'>
        <table class='table table-dark'>
                <tr>
            <td>Contact:</td>
            <td>
              <% @network.contacts.each do |contact| %>
                <%= display_human_name(contact.name) %><br />
              <% end %>
            </td>
          </tr>
            <tr>
            <td>Phone/Fax:</td>
            <td>
              <% @network.contacts.each do |contact| %>
                <% contact.telecom.each do |telecom |%>
                       <%= display_telecom(telecom) %><br />
               <% end %>
              <% end %>
            </td>
          </tr>

           <tr>
            <td>Locations:</td>
            <td>
              <% @network.addresses.each do |address| %>
              <%= render partial: 'partials/address',  locals: { address: address } %>
                <br />
              <% end %>
            </td>
          </tr>
          <tr>
          <td>Part of:</td>
          <td><%= display_reference(@network.partOf ) %></td>
        </tr>
            <tr>
          <td>Type:</td>
          <td><%= @network.type.map(&:text).join(',') %></td>
        </tr>
        <% @network.extensions.each do |extension| %>
          <tr>
            <td><%= extension_title(extension.url) %>:</td>
            <td>
              <% if extension.extension.present? %>
              <!-- only going one level deep on extensions -->
                <% extension.extension.each do |child_extension| %>
                  <%= extension_title(child_extension.url) %>: <i><%= display_leaf_extension(child_extension) %></i>
                  <br />
                <% end %>
              <% else %>
                <%= display_leaf_extension(extension) %>
              <% end %>
              <br />
            </td>
          <tr>
        <% end %>
        </table>
      </div>
    <% else %>
      Not available
    <% end %>

  </section>
  <% else %>
    <%= render 'partials/server_connect' %>
  <% end %>
</section>
