<section class='container'>
  <% if @client %>
  <section class='row col-12'>
    <% unless @endpoint.nil? %>
      <h2><%= sanitize(@endpoint.name) %></h2>
      <table class='table table-dark'>
        <tr>
          <td>Connection Type:</td>
          <td><%= display_coding(@endpoint.connection_type) %></td>
        </tr>
        <tr>
          <td>Managing Organization:</td>
          <td><%= display_reference(@endpoint.managing_organization) %></td>
        </tr>
        <tr>
          <td>Phone/Fax:</td>
          <td>
            <% @endpoint.contacts.each do |contact| %>
              <%= display_telecom(contact) %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Period:</td>
          <td><%= sanitize(@endpoint.period) %></td>
        </tr>
        <tr>
          <td>Payload Types:</td>
          <td><%= display_coding_list(@endpoint.payload_types) %></td>
        </tr>
        <tr>
          <td>Payload MIME Types:</td>
          <td><%= sanitize(@endpoint.payload_mime_types.join(', ')) %></td>
        </tr>
        <tr>
          <td>Headers</td>
          <td><%= display_list(@endpoint.headers) %></td>
        </tr>
        <% @endpoint.extensions.each do |extension| %>
          <tr>
            <td><%= extension_title(extension.url) %>:</td>
            <td>
              <% if extension.extension.present? %>
              <!-- only going one level deep on extensions -->
                <% extension.extension.each do |child_extension| %>
                  <%= extension_title(child_extension.url) %>: <i><%= display_leaf_extension(child_extension) %></i>
                  <br />
                <% end %>
              <% else %>
                <%= display_leaf_extension(extension) %>
              <% end %>
              <br />
            </td>
          <tr>
        <% end %>
      </table>
    <% else %>
      Not available
    <% end %>
  </section>
  <% else %>
    <%= render 'partials/server_connect' %>
  <% end %>
</section>
